@charset "utf-8";

/* util */
.utilWrap{
    width: 980px;
    margin: 0 auto;
}
.utilWrap ul.util{float: right;}
.utilWrap ul.util li{float: left;}

.utilWrap ul.util li a{
    display: block;
    font-size: 12px;
    padding: 6px 10px;
}

.utilWrap ul.util li:after{
    content: "";
    width: 1px;
    height: 11px;
    background-color: #ccc;
    position: absolute;
    top: 7px;
}
.utilWrap ul.util li:first-child:after{
    content: "";
    display: none;
}
.wall{ height: 1px;background: #c4c4c4;}

/* logo */
.logoWrap{
    width: 980px;
    margin: 0 auto;
    padding: 23px;
    display: block;
}
.logoWrap h1{}
.logoWrap a{
    display: block;
    width: 185px; height: 54px;
    margin: 0 auto;
}

/* nav */
.navWrap{
    background-color: #1D5DA4;
    border-bottom:  3px solid #ff2189;
}
.navWrap ul.nav{width: 980px; margin: 0 auto;}
.navWrap ul.nav li{
    float: left;
    width: calc(100% / 6);
}
.navWrap ul.nav li a{
    display: block;
    line-height: 45px;
    color: white;
    text-align: center;
}
.nav li a:hover{background-color:#0d2b4d;}


/* visual */


