@charset "utf-8";

body{
    min-width: 1200px;
}
.top_wrapper{
    background-color: #0044af;
}
.top_wrapper .width_1200{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top_wrapper .width_1200 ul{
    height: 40px;
}
.top_wrapper .width_1200 ul.top li{
    background-color: #00163b;
    margin-right: 4px;
}
ul.top li a{
    display: block;
    height: 100%;
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
   color: whitesmoke;
}

.top_wrapper .width_1200 ul.top li a:hover, .top_wrapper .width_1200 ul.top li a.active{
    background-color: white;
    color: black;
}

ul.top{
    display: flex;
}

.util_wrapper{
}

.util_wrapper .util{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
}
.util_wrapper .util li{

}

.util_wrapper .util li a{
    display: block;
    line-height: 40px;
    padding: 0 10px;
    color: white;
}

.util li:nth-child(2) div{
    float: left;
    width: 16px;
    height: 16px;
    line-height: 13px;
    font-weight: 800;
    background-color: #fff;
    color: black;
    text-align: center;
}
.util li:nth-child(2) div:nth-child(1){
    margin-right: 3px;
}

.top2_wrapper{
    _background-color: wheat;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;}

.menu_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    _background-color: blue;
}
.menu_wrapper .menu1 ul{
    height: 80px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_wrapper .menu1 ul li{
    padding: 0 26px;
}
.menu2{}

header{
    height: 162px;
}



/* section */


.section{
    height: 1500px;
    /* 임시높이값 */
    background-color: cadetblue;
    background-image: url(../images/dot.png),url(../images/background_full.jpg);
    background-repeat: repeat,no-repeat;
    background-position: center;
    background-size: auto,cover;

    padding: 85px;
}


.container{
    width: 1200px;
    margin: 0 auto;
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    _background-color: violet;
}

.title>h3{
    font-size: 52px;
    font-weight: 200;
}
.title>h2{
    font-size: 72px;
}

.container ul.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;

}
.container ul.icon li{
    background-color: turquoise;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    _background-size: ;
}
.container ul.icon li img{ 
}




/* content */