@charset "utf-8";
.top_wrapper{
    background-color: tomato;
}
.top_wrapper .width_1200{
    background-color: turquoise;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top_wrapper .width_1200 ul{
    height: 40px;
}
.top_wrapper .width_1200 ul.top li{
    background-color: pink;
    margin-right: 4px;
}
.top_wrapper .width_1200 ul.top li a{
    display: block;
    line-height: 40px;
    text-align: center;
    padding: 0 20px;
}
.top_wrapper .width_1200 ul.top li a:hover, a.active{
    background-color: red;
    color: seagreen;
}
 

.top{
    background-color: violet;
    display: flex;
}

.util_wrapper{
    background-color: yellow;
}

.util_wrapper .util{
    display: flex;
}