@charset "utf-8";

body{
    min-width: 1200px;
}
.top_wrapper{
    background-color: #0044af;
}
.top_wrapper .width_1200{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top_wrapper .width_1200 ul{
    height: 40px;
}
.top_wrapper .width_1200 ul.top li{
    background-color: #00163b;
    margin-right: 4px;
}
ul.top li a{
    display: block;
    height: 100%;
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
   color: whitesmoke;
}

.top_wrapper .width_1200 ul.top li a:hover, .top_wrapper .width_1200 ul.top li a.active{
    background-color: white;
    color: black;
}

ul.top{
    display: flex;
}

.util_wrapper{
}

.util_wrapper .util{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
}
.util_wrapper .util li{

}

.util_wrapper .util li a{
    display: block;
    line-height: 40px;
    padding: 0 10px;
    color: white;
}

.util li:nth-child(2) div{
    float: left;
    width: 16px;
    height: 16px;
    line-height: 13px;
    font-weight: 800;
    background-color: #fff;
    color: black;
    text-align: center;
}
.util li:nth-child(2) div:nth-child(1){
    margin-right: 3px;
}

.top2_wrapper{
    _background-color: wheat;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;}

.menu_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    _background-color: blue;
}
.menu_wrapper .menu1 ul{
    height: 80px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_wrapper .menu1 ul li{
    padding: 0 26px;
}

.menu2{}

header{
    height: 162px;
}



/* section */


.section{
    height: 1500px;
    /* 임시높이값 */
    background-color: cadetblue;
    background-image: url(../images/dot.png),url(../images/background_full.jpg);
    background-repeat: repeat,no-repeat;
    background-position: center;
    background-size: auto,cover;

    padding: 85px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.titleWrap{
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    _background-color: violet;
    margin-bottom: 60px;
}

.title>h3{
    font-size: 52px;
    font-weight: 200;
    letter-spacing: -5px;
}
.title>h2{
    font-size: 72px;
    letter-spacing: -10px;
}

.container ul.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    _background-color: aqua;

}
.container ul.icon li>div:first-child{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 15px;
    margin-left: 15px;
}
.container ul.icon li>div:nth-child(2){
    margin-left: 15px;
    margin-top: 8px;
    font-size: 12px;
}





/* content */

.contentWrap>li{
    float: left;
    width: 25%;
    height: 225px;
    background-color: #fff;
}

.contentWrap>li:nth-child(1){
    width: 75%;
    height: 450px;
    background-color: aquamarine;
}



.contentWrap>li:nth-child(2){
    /* width: 35%; */
    height: 450px;
    background-color: blueviolet;
    background-image: url(../images/banner_library.png);

}
.contentWrap>li:nth-child(2)>div{
    padding-top: 80px;
    padding-left: 20px;
    border-color: #00163b;
    margin-bottom: 30px;
}

.contentWrap>li:nth-child(2)>p{
    margin: 0 auto;
    background-color: #fff;
    width: 168px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: rgba(92, 70, 25, 0.5);
}






.contentWrap>li:nth-child(3){
    width: 25%;
    height: 225px;
    background-color: brown;
}
.contentWrap>li:nth-child(4){
    width: 25%;
    height: 225px;
    background-color: burlywood;
}
.contentWrap>li:nth-child(5){
    width: 25%;
    height:225px;
    background-color: chartreuse;
}
.contentWrap>li:nth-child(6){
    width: 25%;
    height: 225px;
    background-color: cornflowerblue;
}
.contentWrap>li:nth-child(7){
    /* width: 75%; */
    height: 225px;
    background-color: crimson;
}
.contentWrap>li:nth-child(8){
    width: 75%;
    height: 225px;
    background-color: darkblue;
}
