@charset "utf-8";

.wrapper{
    /* 임시높이 */
    height: 1800px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */
.headerWrap{
    background-color: rgb(16, 23, 41);
}
.utilWrap{
    width: 980px;
    margin: 0 auto;
}
.utilWrap div.logo{float: left; margin-top: 25px;}
.utilWrap ul{
    float: right;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.utilWrap ul li{
    float: left;

}

.utilWrap ul li:nth-child(1){}

.utilWrap ul li:nth-child(2){
    color: white;
    font-size: 23px;
    font-weight: 500;
}
.utilWrap ul li:last-child img{float: left;}

/* search */

.searchWrap{position: relative;z-index: 1;}
.searchWrap form{display: flex;}
.searchWrap label{
    display: block;width: 60px;height: 20px;
    background-image: url(../images/searchtext.jpg);
    text-indent: -9999px;
    position: absolute;
    align-self: center;
    left: 15px;
}
.searchWrap .inp-search{
    width: 400px;height: 50px;
    border-radius:25px;
    text-indent:90px;
    border: 3px solid #aaa;
    font-size: 16px;
}
.searchWrap .inp-search:focus{outline: 0 none;}
.searchWrap .btn-search{
    width: 40px;height: 40px;
    position: absolute;
    align-self: center;
    right: 15px;
    border: 0 none;
    background-image: url(../images/search.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    text-indent: -9999px;
    cursor: pointer;
}



/* nav */
.navWrap{
    background-color: #029C76;
    _border-bottom:  3px solid gold;
    margin-bottom: 60px;
}
.navWrap ul.nav{width: 980px; margin: 0 auto;}
.navWrap ul.nav li{
    float: left;
    width: calc( 100% / 6 );
}
.navWrap ul.nav li:nth-child(4){
    position: relative;
}
.navWrap ul.nav li:nth-child(4) img{
    position: absolute;
    top: 10px;
    right: 30px;
}
.navWrap ul.nav li a{
    display: block;
    line-height: 45px;
    color: white;
    text-align: center;
}
.nav li a:hover{background-color:#C9D500;}




.contentWrap{
    width: 980px;
    margin: 0 auto;
    position: relative;
}

/* title */
.contentWrap .mainText{
    position: absolute;
    top: 0px;
    right: -130px;
    _background-color: #029C76;
}
.contentWrap .mainText h2{
    font-size: 60px;
     margin-bottom: 35px; 
     _position: relative;}
.contentWrap .mainText .under{
    width: 100px; 
    height: 7px; 
    background-color: black; 
    position: absolute;
    right:165px;
    top: 90px;
}
.contentWrap .mainText p{
    font-size: 28px; 
    line-height: 38px; 
    width: 500px;
}

/* balloon */
/* .wrapper{position: relative;} */
.balloon{
    position: absolute;
    top: 55%;
    right: 30%;
    transform:translate(-50%,-50%);
    animation-name:bal01;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform-origin: center bottom;
}
@keyframes bal01{
    0% {transform: translateY(70px) translateX(200px) rotate(-1deg);}
    100% {transform: translateY(-120px) translateX(200px) rotate(1deg);}
}



/* form */

.formWrap{
    width: 400px;
}
fieldset{
    height: 362px;
    border: 0 none;
    background-color: #fff;
    padding: 27px;
}
legend{
    position: absolute;
    left: 0;
    top: -9999px;
}
.field label{
    display: block;
    margin-bottom: 10px;
}


.field select{
    width: 100%;
}
.field{margin-bottom: 10px;}


/* day */
.field.day{
    display: flex;
    justify-content: space-between;
}

.field.day > div{
    width: calc( ( 100% - 15px ) / 2 );
}


/* grade */
.field.grade{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.field.grade > div{
    width:calc( ( 100% - 15px ) / 2 );
}

.field.grade .right{
    display: flex;justify-content: space-between;
}
.field.grade .right > div{
    width:calc( ( 100% - 15px ) / 2 );
}


/* common  */
.inp-field{
    height: 40px;font-size: 16px;text-indent: 8px;
    color:#333;border-radius: 5px;width: 100%;
    border: 1px solid #333;
}
.inp-field:focus{
   border: 3px solid white;
   outline: 3px solid red ;
}
.btn{
    display: block;
    border: 0 none;
    background: #EA4F1F;
    cursor: pointer;
    font-size: 14px;
    color:#fff;
    font-weight: bold;
}


/* active slide */
.sliderWrap .bx-wrapper {
    -moz-box-shadow: 0 0 0px none;
    -webkit-box-shadow: 0 0 0px none;
    box-shadow: 0 0 0px #ccc;
    border: 0px none #fff;
    background: none;
}
.sliderWrap{width:400px;margin-left: 150px; position: relative;}
.bx-wrapper {
    -moz-box-shadow: 0 0 0px none;
    -webkit-box-shadow: 0 0 0px none;
    box-shadow: 0 0 0px #ccc;
    border: 0px none #fff;
    background: none;
}
.card{position: absolute; top: 20%; right: 10%; left: 10%;}

.slider .card h2{
    font-size: 2em;color:white;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 50px;
}
.slider .card h2:after{
    content: "";display: block; width: 100px; height: 6px; background-color: #029C76;
    position: absolute;
    top: -15px;
}
.slider .card p{
    color: white;
    margin-bottom: 50px;}

a.btn{
    padding: 5px 20px;
    _background-color: turquoise;
    display: inline-block;
    border-radius: 10px;
    font-size: 20px;
    }
a.btn.primary{ background-color: #029C76;}
a.btn:hover{background: #EA4F1F;}

.sliderPager{
    position: absolute;left: -150px; top: 0; background: #0099CB;height: 100%;
    width: 150px;
}
.boxPager{height: 25%;}

.boxPager a img{
    float: left;
    padding-top: 30px;
    padding-left: 10px;
}

.sliderPager .boxPager a{
    display: block; width:100%; height: 100%; text-align: center;  line-height: 90px; text-indent: -20px;
}
.sliderPager .boxPager a:hover{
    background-color: #006599; font-weight: bold;
}
.sliderPager .boxPager a.active{
    background:white !important;
}

/* .firstSlider{
    width: 500px;
} */

/* slider1 */
.sliderWrap1{
    width: 240px;
    float: left;
    position: relative;
}
.sliderWrap1 .bx-wrapper {
    -moz-box-shadow: 0 0 0px none;
    -webkit-box-shadow: 0 0 0px none;
    box-shadow: 0 0 0px #ccc;
    border: 0px none #fff;
    background: none;
}
.slider1 li{position: relative;}
.slider1 li .card{
    position: absolute;
    top: 190px;
    left: 0;
    background-color: #152630;
    width: 233px;
    height: 50px;
}
.slider1 li .card a{
   display: block;
   text-align: center;
   line-height: 50px;
}
.slider1 li .card p{
    text-indent: -50px;
    float: left;
    width: 50%;
    color: white;
}
.sliderWrap1 .next{
    position: absolute;
    right: 0;
    bottom: 78px;
    transform: translateX(-20px);
    cursor: pointer;
    /* background-color: red; */
}

/* slider2 */
.sliderWrap2{
    width: 240px;
    float: left;
    margin-left: 20px;
}
.sliderWrap2 .bx-wrapper {
    -moz-box-shadow: 0 0 0px none;
    -webkit-box-shadow: 0 0 0px none;
    box-shadow: 0 0 0px #ccc;
    border: 0px none #fff;
    background: none;}

    .slider2 li{position: relative;}
    .slider2 li .card{
        position: absolute;
        top: 190px;
        left: 0;
        background-color: #152630;
        width: 233px;
        height: 50px;
    }
    .slider2 li .card a{
       display: block;
       text-align: center;
       line-height: 50px;
    }
    .slider2 li .card p{
        text-indent: -50px;
        float: left;
        width: 50%;
        color: white;
    }
    .sliderWrap2 .next2{
        position: absolute;
       left: 494px;
        bottom: 78px;
        transform: translateX(-20px);
        cursor: pointer;
    }

    .firstSlider{
        width: 600px;
    }


